.AAA{
    background-color: orange;
}

.SSS{
    background-color:darkorange
}
@media (min-width:992px) {
    .luka{
        max-width: 100%;
        height: auto;
    }
}

@media (max-width:576px) {
    .luka{
        width: 100%;
        height: auto;
    }
}
.DDD{
    
}
.WWW{
    background-color: darkorange;
}